node_modules
dist
dist-ssr
coverage

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs

# Tauri
src-tauri/target
src-tauri/gen
src-tauri/target/
src-tauri/pkg/
src-tauri/tauri-build.log
src-tauri/Cargo.lock

#Project specific
storage