node_modules
output
dist-ssr
coverage

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sw?
.vs

# Tauri
src-tauri/target
src-tauri/gen
src-tauri/target
src-tauri/pkg
src-tauri/tauri-build.log
src-tauri/Cargo.lock
src-tauri/.cargo/*
!src-tauri/.cargo/config.toml

#Dotnet
bin
obj

#Project specific
storage
src-tauri/dotnet
