:root {
  --color-text: #EADADA;
  --gradient-background: linear-gradient(160deg, #242328 -20%, #0a090f 90%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-text);
  background: var(--gradient-background);
  transition: background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}