@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

:root {
  --color-text: #EADADA;
  --gradient-background: linear-gradient(160deg, #242328 -20%, #0a090f 90%);

  --dashboard-width: 13rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Nunito;
  color: var(--color-text);
  background: var(--gradient-background);
  transition: background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Container {
  background: #ffffff05;
  padding: 1rem;
  border: .1rem solid #ffffff07;
  border-radius: 1rem;
}