@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --text-shadow: 0 0 0.4em #000000;
  --dashboard-width: 12rem;

  font-family: Oswald;
  color: var(--p-surface-100);
  background: #131313;
}

.Container {
  background-color: var(--p-surface-900);
  padding: 0 1rem 1rem 1rem;
  border: .1rem solid #ffffff07;
  border-radius: 1rem;
}

.SecondaryText{
  color: var(--text-secondary-color);
}

//PrimeVue overrides

.p-tab{
  font-size: 2rem;
  flex-grow: 1;
  text-align: start;
}

//Common overrides

h1{
  font-weight: 700;
}

h2{
  font-weight: 500;
}

h3{
  font-weight: 400;
}

button {
  font-family: inherit;
  font-size: inherit;
}
